
Flask-Restful==0.3.8
Flask==1.1.2
Flask-User==1.0.2.2
bcrypt==3.2.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.4
Psycopg2
Flask-Login==0.5.0
pytz==2021.1
python-http-client==3.3.2
starkbank-ecdsa==1.1.0
openpay
